@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-Regular.woff2') format('woff2'),
        url('CourierPrime-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('InterTight-Regular.woff2') format('woff2'),
        url('InterTight-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-ExtraBold.woff2') format('woff2'),
        url('Unbounded-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

