@use './helpers' as *;

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile-only {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet-only {
    display: none !important;
  }
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

.reveal-line-mask {
  overflow: visible clip !important;
  padding-block: 0.2em;
  margin-block: -0.2em;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

